<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCICQgxfIyl6qg5-sHO2aZzAfMoMky8kn4</string>
	<key>GCM_SENDER_ID</key>
	<string>249932861987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avocode.dezha</string>
	<key>PROJECT_ID</key>
	<string>dezha-2d128</string>
	<key>STORAGE_BUCKET</key>
	<string>dezha-2d128.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249932861987:ios:1f3fc1bcdf63d20c9a5796</string>
</dict>
</plist>